<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "" %></title>

    <link href='http://fonts.googleapis.com/css?family=Gentium+Basic|Open+Sans:700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "all" %>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>

  </head>

  <body class="<%= page_classes %>">
    <%= yield %>
    <%= javascript_include_tag  "all" %>
  </body>
</html>

